* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: white;
}

main {
  justify-content: center;
}

.headerLink:hover {
  color: orange;
}

header {
  align-items: center;
  position: relative;
  width: 100%;
  background-color: white;
  justify-content: center;
  margin: 0;
}
header .navbar {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-bottom: black solid 1px;
}
header .navbar .headerLogo li {
  list-style: none;
}
header .navbar .headerLogo li a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
header .navbar .headerLogo li a:hover {
  color: orange;
}
header .navbar .action_btn {
  background-color: #FFC800;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
header .navbar .action_btn:hover {
  scale: 1.05;
}
header .navbar .links {
  margin-bottom: 0;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #FFC800;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
header .navbar .links ul {
  justify-content: space-between;
  display: flex;
  gap: 2rem;
}
header .navbar .links ul li {
  list-style-type: none;
}
header .navbar .links ul li .headerLink {
  text-decoration: none;
  color: black;
  list-style: none;
  font-size: 1.1rem;
}
header .navbar .links ul li .headerLink:hover {
  color: #ffffff;
  transition: 0.5s;
}
header .navbar .links ul li a {
  margin-bottom: 0;
}

.portada-shape {
  max-width: 90rem;
  background-color: #FFC800;
  margin: 0 auto !important;
  float: none !important;
}
.portada-shape div {
  padding-top: 40px;
  text-align: center;
}
.portada-shape div h1 {
  font-size: 4rem;
  font-weight: bold;
}
.portada-shape div p {
  font-size: 2rem;
}

.cargando-spi {
  color: #FFC800;
  text-shadow: 1;
  margin: 0 auto !important;
  float: none !important;
}

.titulo-2 {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  margin-top: 2rem;
}

.SecAdopcion .cont-enAdopcion {
  background-color: #FAF5E6;
  max-width: 90rem;
  margin: 0 auto !important;
  float: none !important;
}
.SecAdopcion .cont-enAdopcion .titulo-2 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #FAF5E6;
  margin: 0;
}
.SecAdopcion .cont-enAdopcion #contenido {
  justify-content: space-between;
}
.SecAdopcion .cont-enAdopcion #contenido .contenedor .tarjeta {
  border: solid 10px;
  width: 100%;
  box-shadow: 0 10px 20px;
  border-radius: 1.4em;
  padding: 0;
  margin-bottom: 30px;
}
.SecAdopcion .cont-enAdopcion #contenido .patita-datos .perritoNombre {
  color: #FFC800;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.86);
}

/*
@media screen and (min-width: 500px) {
    .card {
        width: 350px;
        margin: 0 auto;
    }
}
 */
.cont-datos-patita {
  max-width: 90rem;
  margin: 0 auto !important;
  float: none !important;
}
.cont-datos-patita .cont-img-patita {
  height: 100%;
}
.cont-datos-patita .texto-datos-patita .perritoNombre {
  color: #FFC800;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.86);
}

.boton-adoptame {
  background-color: #FFC800;
  transition: 0.3s;
}
.boton-adoptame :hover {
  background-color: #ffaa00;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px black;
}
.container label {
  color: #333;
}

.formulario {
  margin-top: 30px;
}
.formulario .input-box {
  width: 100%;
  margin-top: 20px;
}
.formulario .input-box label {
  color: #333;
}
.formulario .input-box input {
  position: relative;
  height: 55px;
  width: 100%;
  outline: none;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.formulario .column {
  display: flex;
  column-gap: 15px;
}
.formulario .gender {
  column-gap: 5px;
  cursor: pointer;
}
.formulario .gender input {
  accent-color: organge;
}
.formulario .gender-box {
  margin-top: 20px;
}
.formulario .gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.cuadrado {
  height: 100px;
  width: 100px;
  background-color: black;
}

.submit-boton {
  height: 55px;
  width: 100%;
  background-color: orange;
  color: black;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 6px;
  transition: 0.2s;
}
.submit-boton :hover {
  background-color: rgb(255, 204, 108);
}

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=styles.css.map */
