//H2
.titulo-2 {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    margin-top: 2rem;
}

//FIN H2

.SecAdopcion{
   
    .cont-enAdopcion{
       
        background-color: #FAF5E6;
        max-width: 90rem;
        margin: 0 auto !important; 
	    float: none !important; 
        .titulo-2 {
            padding-top: 4rem;
            padding-bottom: 3rem;
            background-color: #FAF5E6;
            margin: 0;
        }
        #contenido {
            justify-content: space-between;
            .contenedor{
                .tarjeta {
                    border: solid 10px;
                    width: 100%;
                    box-shadow: 0 10px 20px ;
                    border-radius: 1.4em;
                    padding: 0;
                    margin-bottom: 30px;
                    
                    }  
                    }
                    .patita-datos{
                        .perritoNombre{
                            color:#FFC800 ;
                            font-size: 2rem;
                            font-weight: bold;
                            text-shadow: -1px 2px 3px rgba(0,0,0,0.86);                       
                        }

                    }
                    
    
            }
            
            
    }

}

   

/*
@media screen and (min-width: 500px) {
    .card {
        width: 350px;
        margin: 0 auto;
    }
}
 */