.cont-datos-patita{
    max-width: 90rem;
    margin: 0 auto !important; 
	float: none !important; 
    .texto-datos-patita {
        .perritoNombre{
            color:#FFC800 ;
            font-size: 2rem;
            font-weight: bold;
            text-shadow: -1px 2px 3px rgba(0,0,0,0.86);                       
        }
    }
}
