.headerLink:hover{
    color: orange;
}

header{
    align-items: center;
    position: relative;
    width: 100%;
    background-color: white;
    justify-content: center;
    margin: 0;

    .navbar{
        max-width: 90rem;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        
        border-bottom:black solid 1px;
        
        .headerLogo{
            li {
                list-style: none;  
                a {
                    color: black;
                    text-decoration: none;
                    font-size:2rem;
                    font-weight: bold;
                }
                a:hover{
                    color: orange;
                }
            }
            
        }
        .action_btn{
            background-color: #FFC800;
            text-decoration: none;
            font-size: 1.1rem;
            color: white;
            padding: 0.5rem 1rem;
            border:none;
            outline: none;
            border-radius: 20px;
            font-weight: bold;
            cursor:pointer;
        }
        .action_btn:hover{
            scale: 1.05;
        }

        
        
        .links {
            margin-bottom: 0;
            justify-content: space-between;
            padding-left: 100px;
            padding-right: 100px;
            background-color: #FFC800;
            box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
            box-sizing: border-box;

            ul {
                justify-content: space-between;
                display: flex;
                gap: 2rem;
                li {
                    list-style-type: none;
                    .headerLink{
                        text-decoration: none;    
                        color: black;
                        list-style: none;
                        font-size: 1.1rem;
                    }
                    .headerLink:hover{
                        color: #ffffff;
                        transition: 0.5s;
                    }
                    a {
                        margin-bottom: 0;
                    }
            
                }
            }
        
        }
        
        
        
    }
}
    



